*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;

}
header{
	background-image: url(../frame.jpg);
	height: 100vh;
	background-size: cover;
	background position: center;
}

.search-box{
	float: right;
	background: #fff;
	border-radius: 7px;
	list-style: none;
	margin-top: 20px;
	margin-right: 25px;
	padding: 5px;
	
}

.search-box:hover > .search-txt{
	width: 240px;
	padding: 0.6px;
}

.search-box:hover > .search-btn{
	background: #fff;
}

.search-btn{
	color: #BE4868;
	background-color: #fff;
	border-radius: 5px;
	transition: 0.4s;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;

}

.search-txt{
	border :none;
	background: #fff;
	outline: none;
	float: left;
	transition: 0.4s;
	line-height: 10px;
	font-size: 16px;
	width: 0px;
}

ul{
	float: right;
	list-style: none;
	margin-top: 25px;
	margin-right: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #BE4868;
	padding: 5px 20px;
	border: 1px solid #fff;
	border-radius: 7px;
	transition: 0.6s ease;
	background-color: #fff;
}

ul li a:hover{
	background-color: #fff;
	color: #BE4868;
}
ul li.active a{
	background-color: #fff;
	color: #BE4868;
}
.logo img{
	float: left;
	width: 150px;
	height: auto;
	margin-top: 8px;
}

.main{
	max-width: 1300px;
	margin: auto;	
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #BE4868;
	font-size: 70px;
}

.title p{
	color:  #BE4868;
}