body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    background: url(/assets/img/frame.jpg) no-repeat;
	height: 100vh;
	background-size: cover;
	background position: center;
}

.main{
	max-width: 1300px;
	margin: auto;

	
}
.search-box{
	float: right;
	background: #fff;
	border-radius: 7px;
	margin-top: 18.5px;
	margin-right: 25px;
	padding: 3px;
}

.search-box:hover > .search-txt{
	width: 240px;
	padding: 0.6px;
}

.search-box:hover > .search-btn{
	background: #fff;
}

.search-btn{
	color: #BE4868;
	background-color: #fff;
	border-radius: 5px;
	transition: 0.4s;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;

}

.search-txt{
	border :none;
	background: #fff;
	outline: none;
	float: left;
	transition: 0.4s;
	line-height: 10px;
	font-size: 16px;
	width: 0px;
	margin-top: 3px;
	margin-left: 2px;

}
.logo img{
	float: left;
	width: 192px;
	height: auto;
}

.main-btn{
	float: right;
	margin-right: 20px;

}

.main-btn ul li{
	display: inline-block;
}

ul{
	float: right;
	list-style: none;
	margin-top: 25px;
	margin-right: 25px;


}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #BE4868;
	padding: 5px 20px;
	border: 2px solid #fff;
	border-radius: 7px;
	transition: 0.6s ease;
	background-color: #fff;

}

ul li a i{
	margin-right: 5px;
}

ul li a:hover{
	background-color: #BE4868;
	color: #fff;
}
ul li.active a{
	background-color: #BE4868;
	color: #fff;
}

.heading {
	position: absolute;
	margin-left: 20%;
	margin-top: 15%;
	
}

h2{
	position: absolute;
	font-size: 30px;
	margin-top: 10%;
	margin-left: 20%;
	color: #BE4868;
	border-bottom: 3px solid white;
	
}

textarea{
	border: 2px solid #aaa;
	border-radius: 5px;
	width: 50%;
	font-family: sans-serif;
}

.btn-submit{
	width: 30%;
	background: white;
	border: 3px;
	border-radius: 7px;
	color: #BE4868;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	float: right;
	
}

.btn-submit:hover{
	background-color: #BE4868;
	color: white;
}
